.container {
  max-width: 300px;
  padding: 50px;
  text-align: center;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
}

.btn-primary {
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: rgb(52, 52, 243);
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: rgb(55, 0, 255);
}

.btn-primary:active {
  background-color: rgb(147, 120, 243);
}

.timer {
  display: flex;
  height: 250px;
  max-width: 250px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(128, 128, 128, 0.349);
  border-radius: 50%;
}

.inp {
  max-width: 70px;
  padding: 5px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  background-color: white;
  color: rgb(68, 68, 68);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inp:focus {
  outline: none;
}

.inp:hover {
  color: blue;
}



p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}